@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')
*{
    box-sizing: border-box; 
}
body{
   background-color: burlywood;
   
}
.container{
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50px);
    top: 30%;
    left: 50%;
    border-radius: 7px;
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.5);
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 18px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 10px 0;
    opacity: 0;
}
button{
    display: block;
    background-color: cornsilk;
    border: none;
    padding: 5px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
}
.fade{
    opacity: 1;
    transition: opacity 2s;
}